.container{
    margin: 8px;
    height: 100%;
    overflow: auto;
}
.image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 5px;
    margin-bottom: 5px;
}
.answer{
    font-size: 14px;
}
.answer1{
    font-size: 16px;
    font-weight: bold;
}
.border{
    background-color: #a54427da;
    border-radius: 50%;
    border: 1px solid #a54427da;
    margin-bottom: 3%;
    margin-top: 1%;
}
md-toolbar:not(.md-menu-toolbar) {
    background-color: #a54427da;
}
.header{
    background-color: #fff;
    margin: 5px;
    /* border-radius: 50%; */
}
.heading{
    margin: 5px;
    line-height: 36px;
    color: black;
    font-size: 24px;
    /* margin: 10%; */
}
.contact{
    margin: 15px;
    font-size: 14px;
}
body{
    overflow: hidden;
}
/* md-tab-content>div{
    height: 60%;
    height: -moz-available;
    overflow: auto;
} */
.topic{
    font-weight: bold;
    color: #a54427da;
}
.experience{
    margin: 8px;
    padding:8px;
    /* margin-top: 8px; */
    border: 1px dotted black;
}
.designation{
    margin: 5px;
    line-height: 24px;
    color: black;
    font-size: 14px;
}
.exp{
    width: 100%;
    justify-content: center;
}
.align{
    margin: 3%;
}
md-tabs-canvas{
    background-color: #bd5d38;
}
md-tabs md-ink-bar{
    background: black
}
md-tabs .md-tab.md-active{
    color: black;
    width:100%;
}
md-tabs-content-wrapper{
    overflow: auto;
    overflow-x: hidden;
}
.details{
    margin-top:3%;
}
.md-tab{
    padding: 0;
    padding-top: 12px;
    padding-left: 0x;
}
.cit{
    line-height: 1.5;
    padding: 20px;
}
.intro{
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
}
ul{
    margin: 0;
}
.left{
    padding: 20px;
}
.objective{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
li{
    padding: 10px;
    line-height: 1.5;
}
.right{
    padding: 20px;
}
h1{
    margin-bottom: 0;
}
md-tab-item{
    color: black;
}
md-dialog-content{
    padding:15px;
}
md-pagination-wrapper{
    position: absolute;
    right: 0;
}
md-tabs .md-tab {
    width: 100%;
}
md-dialog.md-transition-in{
    min-height: 275px;
    width: 55%;
}

@media screen and (max-width: 740px) {
    .details{
        display: none;
    }
}