<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="BlankApp" ng-cloak>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script src="script/script.js"></script>
  <div class="container" ng-controller="DemoCtrl">
    <div layout class="header">
      <div flex="12" class="border">
        <img class="image" src="img/Karthick.jpg">
      </div>
      <div flex="30" class="align">
        <span class="heading">Karthick Ravichandran</span><br>
        <span class="designation" ng-repeat="roles in Designation">{{roles.role}}<br></span>
      </div>
      <div flex="55" class="details">
        <div class="contact">{{contact.address}}<br></div>
        <div class="contact">{{contact.mobile}}<br></div>
        <div class="contact">{{contact.email}}<br></div>
      </div>
    </div>
    <div>
      <div class="content">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="About">
            <md-content class="md-padding">
              <h1 class="md-display-2">Introduction</h1>
              <p>I am Karthick RaviChandran, I completed M.Sc software engineering 5 year integrated course in
                Coimbatore institute of technology.</p>
              <p>Currently I am working as an UI developer in a startup company(Ariveguru technologies pvt ltd) in
                Bangalore. </p>
              <p>Also have one year internship experience in two various companies (Toshiba Software India pvt ltd &
                IBM India pvt ltd) as a Web Application Developer..</p>
            </md-content>
          </md-tab>
          <md-tab label="Experience">
            <md-content class="md-padding">
              <h1 class="md-display-2">Experience</h1>
              <div class="exp" layout>
                <img flex="33" src="img/ag_logo.png" height="100px" width="150px" style="margin:15px;" ng-click="Ariveguru($event)">
                <img flex="33" src="img/IBM-Logo.png" height="100px" width="150px" style="margin:15px;" ng-click="IBM($event)">
                <img flex="33" src="img/toshiba.png" height="100px" width="150px" style="margin:15px;" ng-click="Toshiba($event)">
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Education">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Three</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus
                volutpat
                neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices.
                Maecenas
                lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
          </md-tab>
          <md-tab label="Skills">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Three</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus
                volutpat
                neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices.
                Maecenas
                lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</body>
</html>