.container{
    margin: 8px;
}
.image{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 5px;
    margin-bottom: 5px;
}
.border{
    background-color: #a54427da;
    border-radius: 50%;
    border: 1px solid #a54427da;
}
md-toolbar:not(.md-menu-toolbar) {
    background-color: #a54427da;
}
.header{
    background-color: #fff;
    margin: 5px;
    /* border-radius: 50%; */
}
.heading{
    margin: 5px;
    line-height: 36px;
    color: black;
    font-size: 24px;
    /* margin: 10%; */
}
.contact{
    margin: 15px;
    font-size: 14px;
}
body{
    overflow: auto;
}
md-tab-content>div{
    height: 60%;
    overflow: auto;
}
.topic{
    font-weight: bold;
}
.experience{
    margin: 8px;
    /* margin-top: 8px; */
    border: 1px dotted black;
}
.designation{
    margin: 5px;
    line-height: 24px;
    color: black;
    font-size: 14px;
}
.exp{
    width: 100%;
    justify-content: center;
}
.align{
    margin: 3%;
}
md-tabs-canvas{
    background-color: #bd5d38;
}
md-tabs md-ink-bar{
    background: black
}
md-tabs .md-tab.md-active{
    color: black;
    width:100%;
}
.details{
    position: absolute;
    right: 30px;
    top: 15px;
}
.md-tab{
    padding: 0;
    padding-top: 12px;
    padding-left: 0x;
}
md-tab-item{
    color: black;
}
md-pagination-wrapper{
    position: absolute;
    right: 0;
}
md-tabs .md-tab {
    width: 100%;
}
md-dialog.md-transition-in{
    height: 250px;
}